body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    // Heading color overrides for dropcase.com
    --h1-color: #339368;
    --h2-color: var(--color-orange);
    --h3-color: var(--color-yellow);
    --h4-color: var(--color-green);
    --h5-color: var(--color-blue);
    --h6-color: var(--color-purple);

    // Undecided on the font, keeping the default for the theme for now (2025-08-11)
    // * {
    //   font-family: 'Fira Code', 'Roboto Mono', 'Lucida Console', monospace !important;
    // }
    * {
        font-family: 'Fira Code';
        src: url('/fonts/firacode62/woff2/FiraCode-Regular.woff2') format('woff2'),
        url("/fonts/firacode62/woff/FiraCode-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
      }

}
